---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@font-face {
	font-family: "MWF-MDL2";
	src: url("../fonts/MWFMDL2.woff") format("woff"),
		 url("../fonts/MWFMDL2.ttf") format("truetype");
}

@font-face {
	font-family: "SegoeUI";
	src: local("Segoe UI"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf") format("truetype"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.svg#web") format("svg");
	font-weight: 400; }

@font-face {
	font-family: "SegoeUI";
	src: local("Segoe UI Light"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf") format("truetype"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.svg#web") format("svg");
	font-weight: 100; }

@font-face {
	font-family: "SegoeUI";
	src: local("Segoe UI Semilight"), local("Segoe UI"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf") format("truetype"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.svg#web") format("svg");
	font-weight: 200; }

@font-face {
	font-family: "SegoeUI";
	src: local("Segoe UI Semibold"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf") format("truetype"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.svg#web") format("svg");
	font-weight: 600; }

@font-face {
	font-family: "SegoeUI";
	src: local("Segoe UI Bold"), local("Segoe UI"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf") format("truetype"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.svg#web") format("svg");
	font-weight: 700; }

$doc-font-size: 16 !default;

$sans-serif: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
$global-font-family: $sans-serif;
$header-font-family: $sans-serif;

$primary-color: #6f777d !default;
$primary-action-color: #0067b8 !default;
$success-color: #3fa63f !default;
$warning-color: #d67f05 !default;
$danger-color: #ee5f5b !default;
$info-color: #3b9cba !default;
$focus-color: $primary-color !default;
$active-color: mix(#fff, $primary-color, 80%) !default;
$facebook-color: #3b5998 !default;
$twitter-color: #55acee !default;
$linkedin-color: #007bb6 !default;

$link-color: $primary-action-color;

$buttoncolors:
	(primary, #0067b8),
	(inverse, #fff),
	(light-outline, transparent),
	(success, $success-color),
	(warning, $warning-color),
	(danger, $danger-color),
	(info, $info-color),
	(facebook, $facebook-color),
	(twitter, $twitter-color),
	(linkedin, $linkedin-color);

@import "minimal-mistakes"; // main partials
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

html {
	font-size: #{$doc-font-size}px;

	@include breakpoint($medium) {
		font-size: #{$doc-font-size}px;
	}

	@include breakpoint($large) {
		font-size: #{$doc-font-size}px;
	}

	@include breakpoint($x-large) {
		font-size: #{$doc-font-size}px;
	}
}

.btn {
	@each $buttoncolor, $color in $buttoncolors {
		&--#{$buttoncolor} {
			@include yiq-contrasted($color);
			@if ($buttoncolor == inverse) {
			border: 1px solid $border-color;
			}
			@if ($buttoncolor == light-outline) {
			border: 1px solid #fff;
			}

			&:visited {
			@include yiq-contrasted($color);
			}

			&:hover {
			@include yiq-contrasted(mix(#000, $color, 20%));
			}
		}
	}
}

.masthead {
	.site-logo {
		width: 130px;
	}

	.site-title {
		&:before {
			border-left: 2px solid #000;
			height: 24px;
			content: " ";
			margin-left: 7px;
			margin-right: 14px;
		}
	}

	.greedy-nav {
		.greedy-nav__toggle {
			.navicon {
				height: 1.3rem;
				font-size: 1.25rem;
				background: none;
				font-family: "MWF-MDL2";
			
				&::after {
					content: "\E700";
					background: none;
					bottom: initial;
				}
			
				&::before {
					display:none;
				}
			}
			
			&.close {
				.navicon {
					&::after {
						content: "\E711";
						transform: none;
					}
			
					&::before {
						display:none;
					}
				}
			}
		
			&:hover {
				.navicon {
					background: none;
		
					&::after {
						background: none;
					}
			
					&::before {
						background: none;
					}
				}
			}
		}

		.visible-links {
			a {
				&:before {
					height: 2px;
					-webkit-transition: $global-transition;
					transition: $global-transition;
					-webkit-transform: none;
					transform: none;
					display: none;
				}

				&:hover:before {
					-webkit-transform: none;
					-ms-transform: none;
					transform: none;
					display: initial;
				}
			}
		}
	}
}

.nav__list {
	@media (max-width: 63.9375em) {
		label {
			&:before,
			&:after,
			&:hover:before,
			&:hover:after {
				background: none;
			}

			&:before {
				font-family: "MWF-MDL2";
				content: "\E70D";
				width: 1em;
				right: 1em;
				top: 1.15em;
				font-size: 0.65rem;
			}

			&:after {
				display: none;
			}
		}

		input:checked {
			&+label:hover:after,
			label:hover:after {
				display: none;
			}

			&+label:hover:before,
			label:hover:before {
				background: none;
				content: "\E70E";
			}
		}
	}
}

.feature__wrapper{
	border-bottom: none;
}

#page-title {
	margin-bottom: 1em;
}

.sidebar {
	@media (min-width: 80em) {
		padding-right: 1.5em;
	}

	li {
		font-size: 1em;

		li {
			margin: 0.35em 0;
			font-size: 1em;
		}
	}

	.nav__list {
		a {
			&:hover {
				text-decoration: underline;
			}

			@media (max-width: 63.9375em) {
				& {
					padding: 0 0;
				}
			}
		}

		.nav__items {
			font-size: 1em;
		}

		.nav__sub-title {
			text-transform: initial;
			font-size: 1.1875rem;
			border-bottom: 1px solid #d2d2d2;
		}
	}
}